[user]
  name = godu
  email = arthur.weber@viacesi.fr

[core]
  editor = vim
  ui = auto

[color]
  ui = true

[apply]
  whitespace = fix

[alias]
  co = checkout
  l = log --graph --abbrev-commit --date=relative
  b = blame --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset'
  s = status -s

  dt = diff-tree --no-commit-id --name-only -r

  d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

  tags = tag -l
  branches = branch -a
  remotes = remote -v

[format]
  pretty = %Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset

[push]
  default = simple
