[user]
	name = godu
	email = arthur.weber@viacesi.fr

[core]
	editor = nano
  ui = auto

[color]
  ui = true

[apply]
  whitespace = fix

[alias]
  co = checkout
  l = log --graph --abbrev-commit --date=relative
  s = status -s
  
  d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"

  tags = tag -l
  branches = branch -a
  remotes = remote -v

[merge]
  log = true

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset
